.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: rem(24px) rem(0px);
    width: 100%;

    &__menu {
        padding-top: rem(5px);
        margin: 0 rem(40px);
    }

    &__contacts {
        padding-top: rem(9px);
    }

    @include tablets {
        align-items: center;
        width: 90vw;
    }

    @include phones {
        align-items: center;
        width: 90vw;
    }
}


